gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java

# Remember to never publicly share your keystore.
# See https://flutter.dev/docs/deployment/android#reference-the-keystore-from-the-app
key.properties
**/*.keystore
**/*.jks
# Flutter related files
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
build/

# iOS related files
ios/Flutter/.last_build_id
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Flutter.podspec.json
ios/Flutter/Generated.xcconfig
ios/Pods/
ios/Podfile.lock
ios/Runner.xcworkspace/
ios/Runner/GeneratedPluginRegistrant.*

# Xcode related files
ios/Runner/Assets.xcassets/LaunchImage.imageset/
ios/Runner/Assets.xcassets/AppIcon.appiconset/
xcuserdata/

# Other specific ignores
.DS_Store
.idea/
*.iml
*.log
*.hprof
*.swp
*.lock
*.zip
*.tar.gz
*.diff
*.patch
*.tmp
*.orig
*.so
*.dylib
*.bak
*.old
*.crt
*.pem
*.cer
*.key
*.der
*.p12
*.jks
*.csr
*.pfx
*.keystore
*.DS_Store
*.sqlite3
*.db
*.sqlite
*.bin
*.sql
*.log
*.data
*.raw
*.xml
*.svg
*.json
*.csv
*.dat
*.ser
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.tgz
*.bz2
*.rar
*.7z
*.xz
*.lzma
*.cab
*.exe
*.dll
*.out
*.o
*.obj
*.pdb
*.lib
*.a
*.la
*.lo
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.tgz
*.bz2
*.rar
*.7z
*.xz
*.lzma
*.cab
*.exe
*.dll
*.out
*.o
*.obj
*.pdb
*.lib
*.a
*.la
*.lo
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.tgz
*.bz2
*.rar
*.7z
*.xz
*.lzma
*.cab
*.exe
*.dll
*.out
*.o
*.obj
*.pdb
*.lib
*.a
*.la
*.lo

